.box{
    display: flex;
    flex-basis: auto;
    position: relative;
    height: 200px;
    width: 70px;
    background-color: blue;
    
}

#parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 602px;
    width: 1100px;
    background-color: aqua;
    margin-top: 50px;
    margin-left: 50px;
}




